/*
 * It is advised not to edit the smartadmin_production.css
 * as this will override any changes you make in the 
 * later versions of this theme. 
 * 
 * We advise that you use use this CSS to override 
 * SmartAdmin styles. 
 * 
 * Rename the stylesheet to whatever your liking so it will stay
 * unique to you with each update of SmartAdmin.
 */

/*
 * INDEX
 * 
 * - HTML
 * - BODY
 * - CUSTOM STYLES
 */

h1 {
  color: #303030;
  font-family: "Helvetica Neue", "Arial", "sans-serif";
  font-size: 27px;
  line-height: 1.2em;
  text-decoration: none;
  letter-spacing: 0px;
  font-weight: normal;
  font-style: normal;
}

::selection {
  background: #3498db;
  color: #fff;
}

.presence-offline {
  color: #c0392b;
}

.presence-idle {
  color: #f1c40f;
}

.presence-active {
  color: #27ae60;
}

.presence-UNDEFINED {
  color: #34495e;
}

table {
 font-family: "Cabin";
 line-height: 1.8em;
 letter-spacing: 0px;
 font-weight: 400;
 font-style: normal;
}


